.cercle_state_red {
	border-radius: 200px / 200px;
	width: 200px;
	height : 200px;
	background-color: red;
}

.cercle_state_green {
	border-radius: 200px / 200px;
	width: 200px;
	height : 200px;
	background-color: green;
}

.cercle_state_blue {
	border-radius: 200px / 200px;
	width: 200px;
	height : 200px;
	background-color: blue;
}